{% extends "layout.html" %}

{% block content %}
  <main class="container">
    <div class="section-content">
      <form method="GET" action="/cluster">
        <div class="form-group">
          {{ form.clusteringAlgorithms.label }}          

          {{ form.clusteringAlgorithms }}

          {% if form.clusteringAlgorithms.errors %}
            {% for error in form.clusteringAlgorithms.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        {{ form.submit(class="btn-cluster") }}
      </form>
    </div>
  </main>
{% endblock %}
