{% extends "layout.html" %}

{% block content %}
  <main class="container">
    <div class="section-content">
      <h2>Choose a dataset</h2>

      <form method="GET" action="/dataset">
        <div class="form-group">
          {{ form.fpath.label }}

          {% if form.fpath.errors %}
            {% for error in form.fpath.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.fpath }}
        </div>

        {{ form.submit(class="btn-train") }}
      </form>
    </div>
  </main>
{% endblock %}
